# Virtual environment directories
/venv
/env
/myenv

# .python-version
.python-version

# Pycharm
/.idea

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log
crash.*.log

# Ignore Terraform plan files
*.tfplan

# Ignore backup files
*.backup

# Ignore .terraform directory
.terraform/
.terraform.lock.hcl

# Ignore override files (useful for local dev)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore provider-specific files
.terraformrc
terraform.rc

# Ignore variable environment files
*.tfvars
*.tfvars.json

# Ignore sensitive files
secret.tfvars

*.zip
